html {
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: lightblue;
    height: 75px;
}

header div {
    height: 75px;
    background-color: lightblue;
    width: 960px;
    margin: 0 auto;
}

header h1 {
    float: left;
    margin: 0;
    background-color: blueviolet;
    height: 75px;
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
}

nav {
    float: right;
    padding-top: 49px;
    padding-right: 10px;
}

nav a {
    clear: both;
    overflow: auto;
    padding-left: 10px;
    text-decoration: none;
}

section {
    background-color: red;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

section h1 {
    font-size: 2em;
    margin: 0;
    /* padding: 10px; */
    padding-left: 20px;
    border-bottom: 1px solid yellow;
    margin-bottom: 10px;
}

img {
    height: 200px;
    float: left;
    padding: 15px 20px;
}

p {
    margin-right: 15px;
    margin-left: 15px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    border-top: 4px solid darkgreen;
}